
.attribution{
    font-family: 'Red Hat Display', sans-serif; 
}

body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /**padding-left: calc(1440px/2 - 450px/2);**/
}

h1{
    color: hsl(223, 47%, 23%);
}

p{
    color: hsl(224, 23%, 55%);
    max-width: 67%;
    margin: 0;
} 

h4{
    margin: 0;
    color: hsl(223, 47%, 23%);
}

.order{
    color: hsl(224, 23%, 55%);
    margin-top: 2em;
}

.order:hover {
    color: hsl(223, 47%, 23%);
}

.change{
    color: hsl(245, 75%, 52%);
    text-decoration: underline hsl(245, 75%, 52%);
}

.change:hover{
    color: hsl(245, 66%, 58%);
    text-decoration: none;
}

.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    max-width: 450px;
    height: 700px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    margin-top: 10em;
    margin-bottom: 5em;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.flexbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.flexbox2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.flexbox3{
    display: flex;
    flex-direction: column;
    margin-right: 110px;
    margin-left: 10px;
    color: hsl(224, 23%, 55%);
    
}

.payment{
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.payment:hover{
    background-color:hsl(245, 66%, 58%);
}